* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: rgb(165, 165, 165);
    display: flex;
    justify-content: center;
}

h1 {
    padding: 10px;
}

.playingarea {
    background: #e6dacd;
    padding-top: 2rem;
    height: 100vh;
}

.computer {
    height: 300px;
    width: 25%;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: rgb(223, 223, 223);
}

.devider {
    height: 10px;
    background-color: black;
    margin-bottom: 1rem;
}

.player {
    height: 300px;
    width: 25%;
    border: 5px solid black;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 100px;
    background-color: rgb(223, 223, 223);
}

img {
    height: 100%;
    width: 100%;
}

.winner {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 40px;
    background-color: aliceblue;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
}

button:hover {
    background-color: #fff;
}

button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

#play {
    width: 250px;
}

.play {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}